<a href="https://colab.research.google.com/github/QustaB/learning_with_Axsos/blob/main/Groupby_Core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Groupby Core

## Name: Qusta Bahu

In [43]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
import pandas as pd
file_path = '/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/insurance_mod.csv'
df=pd.read_csv(file_path)
df.head()

   age     sex     bmi  children  smoker     region  charges
0   19  female  27.900         0       1  southwest  16885.0
1   18    male  33.770         1       0  southeast   1726.0
2   28    male  33.000         3       0  southeast   4449.0
3   33    male  22.705         0       0  northwest  21984.0
4   32    male  28.880         0       0  northwest   3867.0

### Average Age

In [46]:
average_age = df['age'].mean()
print(average_age)

39.20702541106129

### Oldest Person

In [47]:
oldest_person = df['age'].max()
print(oldest_person)

64

### Youngest Person

In [48]:
youngest_person = df['age'].min()
print(youngest_person)

18

### Average Charge

In [49]:
average_charge = df['charges'].mean()
print(average_charge)

13270.414798206279

### Average Charge Grouped by Sex

In [50]:
average_charge_by_sex = df.groupby('sex')['charges'].mean()
print(average_charge_by_sex)

sex
female    12569.584592
male      13956.730769
Name: charges, dtype: float64

### Average Charge Grouped by Smokers

In [57]:
average_charge_by_smokers = df.groupby('smoker')['charges'].mean()
print(average_charge_by_smokers)

smoker
0     8434.260338
1    32050.226277
Name: charges, dtype: float64

### Average Charge Grouped by Smokers And Sex

In [52]:
average_charge_by_smokers_and_sex = df.groupby(['smoker', 'sex'])['charges'].mean()
print(average_charge_by_smokers_and_sex)

smoker  sex
0       female     8762.307130
        male       8087.177950
1       female    30678.982609
        male      33042.006289
Name: charges, dtype: float64